@import '../main.scss';

.post {
    display: flex;
    margin-bottom:25px;
    border: 1px dashed $background-green;
    padding:20px
}

.post-header {
    background-color: $background-green;

    h2 {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        color:white;
        text-align: center;
        padding:0px 20px;
    }

    img {
        display: block;
        max-height: 200px;
        max-width: 100%;
    }
}

.post-body {
    padding: 10px 25px 10px 25px;

    a {
        color:$text-color-green;
        text-decoration: underline;
        margin-top: 50px;
    }

    a:hover {
        color:purple;
        cursor: pointer;
    }
}
