@import '../../main.scss';

$navbar-height: 60px;

.navbar-container {
    position: fixed; /* Fix the navbar at the top */
    top: 0;          /* Align it to the top of the screen */
    left: 0;
    width: 100%;     /* Make it span the full width */
    z-index: 1000;

    background-color: white;
}

.navbar {
    height:$navbar-height;
    
    padding:10px;
    background-color: $background;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
}

.navbar-logo img{
    max-width: 150px;
    max-height: 150px;
    height: auto;
    width: auto;

    position: absolute;
    z-index: 10;
    left: 2%;
    top: 3%;

    background-image: url('path-to-your-background.png'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    margin:0px;
    margin-right: 5%;
}

.navbar-items {
    margin:auto;
    margin-right: 2%;
}

.nav-item {
    color: $text-color-green;
    margin: auto;
    margin-left: 1.5em;
    white-space: nowrap;
}

.nav-item a {
    font-size: 20px;
}

.nav-item a::after {
    content: '';
    width: 0;
    height: 4px; /* Adjust the thickness here */
    display: block;
    background: $text-color-green; /* Same color as the text */
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-toggler {
    margin:auto;
    margin-right: 3%;
    margin-left: 2%;
    display: inline-block;
    cursor: pointer;
}

.navbar-toggler-bar1, .navbar-toggler-bar2, .navbar-toggler-bar3 {
    width: 35px;
    height: 5px;
    background-color: $text-color-green;
    transition: transform 0.3s ease;
    margin: 6px 0;
}

.navbar-toggler.open .navbar-toggler-bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.navbar-toggler.open .navbar-toggler-bar2 {
    opacity: 0;
}

.navbar-toggler.open .navbar-toggler-bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.collapse-content {
    padding: 0px 10% 0px 18%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.collapse-content.open {
    max-height: 600px;
    padding: 20px 10% 10px 18%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    //box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap:50px;

    font-size: 1em;

    ul {
        padding:0;
        list-style: none;
    }

    li:hover {
        cursor: pointer;
        color: $text-color-green
    }

    p {
        cursor: pointer;
        font-weight: bold;
    }

    p:hover {
        color: $text-color-green
    }
}

/* Media query to hide items on narrow screens */
@media screen and (max-width: 900px) {
    .navbar-items {
        display: none;
    }

    .navbar-toggler {
        margin:auto;
        margin-right: 3%;
    }

    .collapse-content {
        padding: 0px 10% 0px 40%;
    }

    .collapse-content.open {
        padding: 20px 10% 10px 40%;
    }

    .navbar-logo img{
        max-width: 120px;
        max-height: 120px;
    }
}