@import '../../main.scss';

.contact-block {
    background-color: $background-green;
    color:white;
    max-width: 400px;
    padding:25px;

    font-size: 0.90rem;

    h3 {
        text-wrap: wrap;
        color:white;
        display: block;
        text-align: left;
    }

    h3::after {
        content: '';
        display: block;

        width: 100%;
        height: 5px; /* Adjust the thickness here */
        margin-bottom:10px;

        background: white;
    }
    
    div {
        display: flex;
        flex-wrap: nowrap;
    }

    p {
        min-width: 40%;
        max-width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 0px;
        margin: 0;
        text-align: left;
        align-items: center;
    }

    img {
        margin-right: 5px;
    }
}
